@import url('./colors.css');

@font-face {
    font-family: 'Funnel-Sans';
    src: url('../fonts/Funnel_Sans/static/FunnelSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Funnel-Sans', sans-serif;
}

h1 {
    font-size: 24px;
    font-weight: regular;
}

.header{
    background-color: var(--color-primary);
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

.menu-item{
    color: var(--color-text-light);
    text-align: center;
    font-size: 20px;
    font-weight: lig;
    padding: 1rem;
    height: 100%;
    text-decoration: none;
}

.menu-item:hover{
    background-color: var(--color-primary-dark);
    cursor: pointer;
    transition: 0.3s ease;
}

.current-menu-item{
    background-color: var(--color-primary-dark);
}


button {
    background-color: var(--color-primary);
    color: var(--color-text-light);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 1s ease;
}

.fade-button {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.fade-button.hidden {
    opacity: 0;
}


.title-section{
    font-size: 28px;
    font-weight: 500;
    color: var(--color-primary);
    padding-left: 20px;
}

.footer{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: var(--color-primary-dark);
    color: var(--color-text-light);
    text-align: center;
    align-items: center;
    padding: 10px;
    height: 40px;
}

.footer img{
    width: 20px;
    height: 20px;
}

.footer a{
    color: var(--color-text-light);
    text-decoration: none;
}

.card-hidden{
    display: grid;
    overflow: hidden;
}

.card{
    display: grid;
    background-color: var(--color-bg-secondary);
    border-radius: 10px;
    box-shadow: 1px 0px 10px var(--color-shadow);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;    
}

@media screen and (min-width: 1000px) {
    main {
        height: auto;
        min-height: 100vh;
        width: 80vh;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1000px) {
    main {
        height: auto;
        min-height: 100vh;
        width: auto;
    }
}



